.git
.gitignore
README.md
.env
node_modules
npm-debug.log
*.log
Dockerfile
.dockerignore
.docker
!node_modules
!node_modules/**
!public/build
!public/build/**
!storage
!storage/**
!resources/views
!resources/views/**